@CHARSET "UTF-8";

.position-rel {
	position: relative;
}

.position-abs {
	position: absolute;
}

.tc {
	text-align: center;
}

.fr {
	float: right;
}

.fl {
	float: left;
}

.over-hide{
	overflow: hidden !important;
}
.flex-grow-shrink {
	flex-grow: 1;
	flex-shrink: 1;
}

.pure-tarrow {
	position: absolute;
	display: block;
	top: -11px;
	left: 30px;
	margin-left: -11px;
	border-color: transparent transparent #F6F4F4;
	border-width: 0 11px 11px;
	border-style: solid;
}

/*top是指距离三角顶部的距离*/
.pure-tarrow:after {
	top: 1px;
	content: " ";
	margin-left: -10px;
	border-width: 0 10px 10px;
	position: absolute;
	display: block;
	border-color: transparent transparent #F6F4F4;
	border-style: solid;
}

.pure-rarrow {
	position: absolute;
	display: block;
	right: -9px;
	top: 50%;
	margin-top: -9px;
	border-color: transparent transparent transparent rgba(0, 0, 0, .25);
	border-width: 9px 0px 9px 9px;
	border-style: solid;
}

/*top是指距离三角顶部的距离*/
.pure-rarrow:after {
	right: 1px;
	content: " ";
	margin-top: -8px;
	border-width: 8px 0px 8px 9px;
	position: absolute;
	display: block;
	border-color: transparent transparent transparent #fff;
	border-style: solid;
}

.pure-larrow {
	position: absolute;
	display: block;
	left: -11px;
	top: 50%;
	margin-top: -11px;
	border-color: transparent rgba(0, 0, 0, .25) transparent transparent;
	border-width: 11px 11px 11px 0px;
	border-style: solid;
}

/*top是指距离三角顶部的距离*/
.pure-larrow:after {
	left: 1px;
	content: " ";
	margin-top: -10px;
	border-width: 10px 10px 10px 0px;
	position: absolute;
	display: block;
	border-color: transparent #fff transparent transparent;
	border-style: solid;
}

.pure-barrow {
	position: absolute;
	display: block;
	bottom: -11px;
	left: 50%;
	margin-left: -11px;
	border-color: rgba(0, 0, 0, .25) transparent transparent;
	border-width: 11px 11px 0px;
	border-style: solid;
}

/*top是指距离三角顶部的距离*/
.pure-barrow:after {
	bottom: 1px;
	content: " ";
	margin-left: -10px;
	border-width: 10px 10px 0px;
	position: absolute;
	display: block;
	border-color: #fff transparent transparent;
	border-style: solid;
}

.right-arrow {
	top: 13px;
	border: 1px solid red;
	background: transparent;
	height: 15px;
	width: 15px;
	transform: rotate(-135deg);
	border-top: none;
	border-left: none;
	display: inline-block;
}

.tran {
	border: 1px solid #F6F4F4;;
	background: #F6F4F4;
	position: absolute;
	top: -14px;
	left: 30px;
	height: 25px;
	width: 25px;
	transform: rotate(45deg);
	border-bottom: none;
	border-right: none;
}