@CHARSET "UTF-8";

.tc {
	text-align: center;
}

.pro-footer {
	text-align: center;
	border-top: 1px solid #f5f5f5;
}

.pro-footer>div {
	flex-grow: 1;
	flex-shrink: 1;
	font-size: .625rem;
	padding: .2rem 0 .2rem;
}