<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Jan.mappers.GoodsInfoMapper">


	<resultMap id="goodsInfo" type="com.Jan.may.GoodsInfo">
		<collection property="previewPics" ofType="com.Jan.may.CloudPath"
			column="id" javaType="ArrayList" select="getPicviewPicsByGoodsId">
		</collection>
		<collection property="goodsSpec" ofType="com.Jan.may.GoodsSpec"
			column="id" javaType="ArrayList" select="getGoodsSpecByGoodsId">
		</collection>
		<collection property="recommend" ofType="com.Jan.may.Recommend"
			column="id" javaType="ArrayList" select="getRecommendByGoodsId">
		</collection>
		<collection property="comment" ofType="com.Jan.may.Comment"
			column="id" javaType="ArrayList" select="getCommentByGoodsId">
		</collection>
	</resultMap>

	<select id="getGoodsInfoById" parameterType="java.lang.Long"
		resultMap="goodsInfo">
		select * from GoodsInfo g where g.id = #{id}
	</select>

	<select id="getPicviewPicsByGoodsId" resultType="com.Jan.may.CloudPath">
		select * from
		CloudPath where goods_id = #{id}
	</select>
	<select id="getGoodsSpecByGoodsId" resultType="com.Jan.may.GoodsSpec">
		select * from
		GoodsSpec where goods_id = #{id}
	</select>
	<select id="getRecommendByGoodsId" resultType="com.Jan.may.Recommend">
		select * from
		Recommend where goods_id = #{id}
	</select>

	<select id="getCommentByGoodsId" resultType="com.Jan.may.Comment">
		select * from
		Comment
		where goods_id = #{id}
	</select>
</mapper>



















