<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Jan.mappers.UserMapper">
	<resultMap id="user" type="com.Jan.model.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getUser" parameterType="java.lang.Long" resultMap="user">
		select id,username,password,email from user where id =
		#{id}
	</select>

	<!-- 报错：There is no getter for property named 'name' in 'class java.lang.String' -->
	<!-- 解决方案两种： -->
	<!-- 1 使用_parameter替换name -->
	<!-- 2 在UserMapper.java中使用@Param("name") -->
	<select id="getUsers" resultType="com.Jan.model.User"
		parameterType="java.lang.String">
		select * from user where email like "%2356%"
		<if test="name != null">
			and username like '${name}'
		</if>
	</select>
</mapper>

